<header>
  <nav class="nav-extended #00bfa5 teal accent-4">
      <br>
      <div class="row">
          <div class="container nav-wrapper">
              <a class="center" href='index.html'><img class="card-image" width="60" src="img/logo.png"></a>
              <a href="login.html" class="right btn tooltipped red btn-floating btn-large pulse" data-position="top" data-tooltip="Login"><i class="material-icons">account_circle</i></a>
          </div>
          <div class="container nav-content hide-on-med-and-down">

              <a class="col s3 dropdown-trigger btn" href='#' data-target='dropdown1'>PRODUTOS</a>

              <a class="col s3 dropdown-trigger btn" href='#' data-target='dropdown2'>CADASTRO</a>

              <a class="col s3 dropdown-trigger btn" href='#' data-target='dropdown3'>VENDA</a>

              <a class="col s3 dropdown-trigger btn" href='#' data-target='dropdown4'>ESTOQUE</a>

              <ul id="dropdown1" class="dropdown-content">
                  <li><a href="produto.html">PESQUISAR</a></li>
              </ul>
              <ul id="dropdown2" class="dropdown-content">
                  <li><a href="cliente.html">CLIENTE</a></li>
                  <li><a href="funcionario.html">FUNCIONARIO</a></li>
                  <li><a href="fornecedor.html">FORNECEDOR</a></li>
                  <li><a href="laboratorio.html">LABORATORIO</a></li>
              </ul>
              <ul id="dropdown3" class="dropdown-content">
                  <li><a href="vendas.html">PESQUISAR</a></li>
              </ul>
              <ul id="dropdown4" class="dropdown-content">
                  <li><a href="estoque.html">PESQUISAR</a></li>
              </ul>
          </div>
      </div>

  </nav>
</header>