<div class="row">
  <form class="col s12" [formGroup]="form">
    <div class="row">
      <div class="input-field col s6">
        <input formControlName="nome" id="nome" type="text" class="validate">
        <label for="nome">Nome Fantasia</label>
      </div>
      <div class="input-field col s6">
        <input formControlName="razaoSocial" id="razaoSocial" type="text" class="validate">
        <label for="razaoSocial">Razão Social</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s4">
        <input formControlName="telefone" id="telefone" type="text" class="validate">
        <label for="telefone">Telefone</label>
      </div>

      <div class="input-field col s4">
        <input formControlName="email" id="email" type="email" class="validate">
        <label for="email">Email</label>
      </div>

      <div class="input-field col s4">
        <input formControlName="cnpj" id="cnpj" type="text" class="validate">
        <label for="cnpj">CNPJ</label>
      </div>
    </div>
    <div class="row">
      <p>
        <label>
          <input formControlName="status" type="checkbox" class="filled-in" [checked]="true" checked="checked" />
          <span>Ativo</span>
        </label>

      </p>
    </div>

  </form>

</div>

<div class="row">
  <form class="col s12" [formGroup]="formAddress">
    <div class="row">
      <div class="input-field col s6">
        <input formControlName="rua" id="logradouro" type="text" class="validate">
        <label for="logradouro">Logradouro</label>
      </div>
      <div class="input-field col s6">
        <input formControlName="cep" id="cep" type="text" class="validate">
        <label for="cep">CEP</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s4">
        <input formControlName="cidade" id="cidade" type="text" class="validate">
        <label for="cidade">Cidade</label>
      </div>

      <div class="input-field col s4">
        <input formControlName="uf" id="uf" type="text" class="validate">
        <label for="uf">UF</label>
      </div>

      <div class="input-field col s4">
        <input formControlName="numero" id="numero" type="number" class="validate">
        <label for="numero">Número</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input formControlName="complemento" id="complemento" type="text" class="validate">
        <label for="complemento">Complemento</label>
      </div>
      <div class="input-field col s6">
        <input formControlName="bairro" id="bairro" type="text" class="validate">
        <label for="bairro">Bairro</label>
      </div>
    </div>

  </form>

  <button class="btn waves-effect waves-light" type="submit" name="action" (click)="salvar()">Salvar
    <i class="material-icons right">save</i>
  </button>
</div>


